*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    height: 100%;
    display: flex;
    background-color: #f3eae3;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 8px;
    background-color: white;
}

img{
    max-width: 100%;
    display: block;
}

.img-container{
    background-image: url(images/image-product-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px 0px 0px 8px;
}

.text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.inside-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.category{
    font-size: 0.7rem;
    font-weight: bold;
    letter-spacing: 8px;
    color: hsl(158, 36%, 37%);
    color: hsl(30, 38%, 92%);
    color: hsl(212, 21%, 14%);
    color: hsl(228, 12%, 48%);
}

.title{
    font-size: 2rem;
    max-width: 10ch;
    color: hsl(212, 21%, 14%);
    line-height: 2.3rem;
}

.title, .new-price{
    font-family: 'Fraunces', 'Times New Roman', Times, serif;
}

.description{
    max-width: 24ch;
    font-size: 1rem;
    color: hsl(228, 12%, 48%);
    line-height: 1.4rem;
}

.price{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.new-price{
    font-size: 2rem;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
}

.old-price{
    color: hsl(228, 12%, 48%);
}

button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    border-radius: 10px;
    background-color: hsl(158, 36%, 37%);
    gap: 1rem;
    cursor: pointer;
    border: none;
}

button:hover{
    background-color: hsl(157, 52%, 20%);
}

.button-text{
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.button-icon{
    width: 1.2rem;
}

@media (max-width: 750px){
    main{
        grid-template-columns: 1fr;
    }

    .img-container{
        background-image: url(images/image-product-mobile.jpg);
        background-position: center;
        border-radius: 8px 8px 0px 0px;
        background-color: red;
        height: 300px;
    }

    .title{
        max-width: 13ch;
    }

    .description{
        max-width: 30ch;
    }
}