*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

img{
    max-width: 100%;
    display: block;
}

.img-container{
    background-image: url(images/image-product-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem 1.5rem;
}

.inside-container{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.category{
    font-size: 1.5rem;
    letter-spacing: 8px;
    color: hsl(158, 36%, 37%);
    color: hsl(30, 38%, 92%);
    color: hsl(212, 21%, 14%);
    color: hsl(228, 12%, 48%);
}

.title{
    font-size: 4rem;
    max-width: 10ch;
    color: hsl(212, 21%, 14%);
    line-height: 4rem;
}

.title, .new-price{
    font-family: 'Fraunces', 'Times New Roman', Times, serif;
}

.description{
    max-width: 24ch;
    font-size: 1.7rem;
    color: hsl(228, 12%, 48%);
    line-height: 2.5rem;
}

.price{
    display: flex;
    align-items: center;
    gap: 2.4rem;
}

.new-price{
    font-size: 4rem;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
}

.old-price{
    color: hsl(228, 12%, 48%);
}

button{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    border-radius: 10px;
    border: none;
    background-color: hsl(158, 36%, 37%);
    gap: 1rem;
    cursor: pointer;
}

button:hover{
    background-color: hsl(157, 52%, 20%);
}

.button-text{
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.button-icon{
    width: 1.2rem;
}

@media (max-width: 750px){
    body{
        grid-template-columns: 1fr;
    }

    .img-container{
        background-image: url(images/image-product-mobile.jpg);
        height: 50vh;
        background-position: center;
    }

    .title{
        max-width: 13ch;
    }

    .description{
        max-width: 30ch;
    }
}